@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "variables.less";
@import "mixins.less";

// Fonts
@font-face {
  font-family: 'OldeEnglish';
  src: url('../fonts/Olde_English_Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Olde_English_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Olde_English_Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Olde_English_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Old_English_Regular.svg#Olde_English_Regular') format('svg'); /* Legacy iOS */
}

// <===========HEADER=============>
body {
	background-image: @background-pic;
	background-repeat: repeat;
}

// Top titlebar styling
.titlebar {
	.navbar;
	.navbar-inverse;
	background-color: @primary;
	border-radius: 0;
	.bar-wrapper{
		.container();
		.bar-layout {
			.make-row();
			.titlebar-left {
				.make-xs-column(6);
				h4 {
					color: @primaryLight;
				}
			}
			.titlebar-right {
				.make-xs-column(6);
				.member-login {
					.btn;
					.btn-success;
					margin-top: 5px;
					background-color: @cornerDark;
					border: 0;
					border-radius: 0;
					float: right;
					&:hover {
						background-color: @cornerFaded;
						color: @black;
					}
				}
			}
		}
	}

}
// Main title area

.main-title {
	.make-row();
	background-color: @primaryFaded;
	border-radius: 10px 10px 0 0;
	h1 {
		font-family: "OldeEnglish", Georgia, Serif;
		font-size: 4em;
		// border: 2px dotted blue;
		text-align: center;
		small {
			font-family: Helvetica, Georgia, Sans-Serif;
			font-size: .5em;
		}
	}
}

// Navigation

nav {
	.make-row();
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: @primary;
	.top-nav {
		.nav;
		.nav-pills;
		.nav-justified;
		li a {
			color: @primaryLight;

			&:hover {
				color: @primary;
				font-weight: bold;
				background-color: @primaryFaded;
				border-radius: 0;
			}
		}
	}
}


// <============BODY==============>

.main-content {
	.make-row();
	.bxslider {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.home {
		.make-xs-column(12);
		background-color: @primaryFaded;
		padding: 15px;
	}
	margin-bottom: 15px;
}

// <============FOOTER=============>

footer {
	.navbar;
	.navbar-inverse;
	background-color: @primary;
	padding-bottom: 20px;
	border-radius: 0;
	.bar-wrapper {
		.container();
		.bar-layout {
			.make-row();
			color: @primaryLight;
			.left-footer {
				.make-xs-column(12);
				.make-sm-column(5);
				h4 {
					@media only screen and (max-width : @screen-xs) {
						text-align: center;
					}
				}
				a {
					.btn;
					color: @primaryLight;
					border-radius: 0;
					padding-left: 0;
					&:hover {
						background-color: @primaryLight;
						color: @primary;
						font-weight: bold;
					}
					@media only screen and (max-width : @screen-xs) {
						display: block;
						text-align: left;
					}
				}
				.social {
					.fa;
					.fa-2x;
					.fa-fw;
				}
			}
			.right-footer {
				.make-xs-column(12);
				.make-sm-column(4);
				border: 1px solid @cornerLight;
			}
		}
		.copyright {
			.make-row();
			color: @primaryLight;
			text-align: center;
		}
	}
}
